*   { box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: none;
    background-color: rgb(38, 156, 230);  
}

h1{
    font-size:xx-large;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

nav, footer{
    display: flex;
    flex-direction: row;
}

nav{
    width: 100%;
    font-size:large;
}

nav a{
    background-color: rgb(213, 234, 241);
    color:black;
    padding: 10px 35px; 
    margin: 0px 3px;
}

#flex-align-right{
    margin-left: auto;
}

nav a:hover{
    font-size:x-large;
    background-color: rgb(38, 156, 230); 
}

#content{
    padding: 10px 120px;
}

input[type], textarea{
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 5px;
    background-color: white;
    color: 50px;
}

input[type]:hover, textarea:hover{
    background-color: rgba(128, 128, 128, 0.7);
}

p{
    font-weight: 500;
}

input[type="submit"]{
    margin: 10px 12px;
    padding: 20px 20px;
    color: black;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color:grey;
    cursor: pointer;
}

a[href="buisness_card.png"]{
    width: 100%;
}

footer{
    justify-content: start;
    padding: none;
}

footer a:hover{
    color: orange;
}

footer i{
    font-size:15px;
    color:rgb(173, 6, 62);
}

@media all and (max-width: 600px){
    nav, footer{
        flex-direction:column;
        align-items: center;
    }

    #flex-align-right{
        margin-left:0;
    }
}
