*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.banner{
    min-height: 100px;
    height: 45vh;
    background-image: url("../instagram/banner1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size:auto;

    background-color: rgb(201, 221, 228);
}

nav, #list, footer{
    display: flex;
    flex-direction: row;
}

nav{
    background:rgb(17, 124, 143);
    font-size:larger;
    position: sticky;
    top:0;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    padding: 25px; 
}

h2{
    background-color: grey;
    padding: 7px;
    border-radius: 8px;
}

#flex-align-right{
    margin-left: auto;
}

#list{
    background-color: rgb(233, 48, 134);
    padding: 15px;
    justify-content: flex-end;
}

#list a{
    font-size: large;
    padding: 0px 10px;
}

nav a:hover{
    font-size:x-large;
    background-color: rgba(148, 141, 141, 0.7);
}

#list a:hover{
    color: orange;
}

video{
    border: 5px solid rgba(0, 0, 0, 0.5) ;
}

.section{
    text-align: center;
    background-color: rgb(230, 217, 217);
}

.section span {
    font-weight:bold;
    font-size:xx-large;
    color:white;
    background-color: blue;
    padding: 10px 10px;
    border-radius: 30%;
}


footer {
    background-color: rgb(119, 117, 117);
    padding: 10px;
    justify-content: center;
}

footer a:hover{
    color: orange;
}

footer i{
    font-size:15px;
    color:rgb(173, 6, 62);
}

@media all and (max-width: 600px){
    nav, #list, footer{
        flex-direction:column;
        align-items: center;
    }

    #flex-align-right{
        margin-left:0;
    }
}


